{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="mb-4">Editar Usuario</h2>
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <input type="text" name="telefono" value="{{ usuario.telefono }}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Correo</label>
                <input type="email" name="correo" value="{{ usuario.email }}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Departamento</label>
                <input type="text" name="departamento" value="{{ usuario.departamento }}" class="form-control">
            </div>

            <div class="mb-3">
                <label class="form-label">Ciudad</label>
                <input type="text" name="ciudad" value="{{ usuario.ciudad }}" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="{% url 'dashboard_empleado' %}" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
{% endblock %}
